{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <h1>Вход</h1>

    {% if error %}
        <p role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="username">Email</label>
        <input
            id="username"
            name="_username"
            type="text"
            value="{{ last_username }}"
            autocomplete="username"
            required
            autofocus
        >

        <label for="password">Пароль</label>
        <input
            id="password"
            name="_password"
            type="password"
            autocomplete="current-password"
            required
        >

        <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">Войти</button>
    </form>
{% endblock %}
