{% extends 'base.html.twig' %}

{% block title %}О блоге{% endblock %}

{% block body %}
    <section class="content-section">
        <div class="container">
            <article class="post-single">
                <span class="badge">О проекте</span>
                <h1>О блоге</h1>
                <p class="post-content">
                    Это блог написанный на Symfony, Twig, БД MySql.
                </p>
                <p>Блог info.</p>
            </article>
        </div>
    </section>
{% endblock %}
