{% extends 'base.html.twig' %}

{% block title %}О блоге{% endblock %}

{% block body %}
    <h1>О блоге</h1>

    <p>
        Это блог написанный на Symfony, Twig, БД MySqL.
    </p>

    <p>
        Блог info.
    </p>
{% endblock %}
