{% extends 'base.html.twig' %}

{% block title %}Главная страница блога{% endblock %}

{% block body %}
    <h1>Главная страница блога</h1>

    <p>
        Welcome to блог на Symfony.
    </p>

    <p>
        Здесь будут находиться публикации.
    </p>
{% endblock %}
