{% extends 'base.html.twig' %}

{% block title %}Главная страница блога{% endblock %}

{% block body %}
    <h1>Главная страница блога</h1>

    <p>
        Welcome to блог на Symfony.
    </p>

    {% for publication in publications %}
        <article>
            <h2>{{ publication.title }}</h2>
            <p>{{ publication.content }}</p>
            <small>
                {{ publication.createdAt|date('d.m.Y H:i') }}
            </small>
            {% if app.user and (publication.author == app.user or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('app_publication_update', {id: publication.id}) }}">
                    Редактировать
                </a>
            {% endif %}
        </article>
    {% else %}
        <p>Публикаций нет.</p>
    {% endfor %}
{% endblock %}
