{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>
    <h1>Hello btw!</h1>

    {% if submittedProductName == 'bread' %}
        <div class="alert alert-warning">
            Twig noticed that you tried to add bread. bread is prohibited product for some reason.
            <br />
            {{ submittedProductName|upper }} - bread made 'upper' and its length equals: {{ submittedProductName|length }}.
        </div>
    {% endif %}

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
